p {
    font-family: 'Inconsolata', monospace;
}

.test {
    height: 600px;
    width: 300px;
    background-color: #c6d2d4;

    margin: auto;
    z-index: 1;
}

.kerry {
    height: 500px;
    width: 200px;
    background-color: #ac9797;
    border: 2px solid black ;

    z-index: 1;

}

.myImage {
    height: 50%;


    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px 10px 5px 10px;



}

.hobbies-text, .about-text {

    text-indent: 25px;

}

.display-3 {
    font-family: 'Lobster', cursive;
}

/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Notable', sans-serif;*/