.test {
    height: 600px;
    width: 300px;
    /*background-color: black;*/
    border: 2px solid black ;
    margin: auto;
}

.kerry {
    height: 500px;
    width: 200px;
    background-color: red;
    border: 2px solid black ;

}

.myImage {
    height: 200px;

    border: 2px solid black ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

.myBio {
    text-transform: uppercase;
    text-indent: 25px;
    border: 2px solid black ;
}