.test, .kerry {
    background-color: #3c4f57;
    font-family: 'Inconsolata', monospace;
    color: ghostwhite;
    word-wrap: break-word;

}

/*.kerry {*/
/*    */
/*    background-color: red;*/
/*    border: 2px solid black ;*/
/*    position: relative;*/
/*    font-family: 'Inconsolata', monospace;*/
/*    color: ghostwhite;*/


/*}*/

.myImage {
    height: 200px;

    border: 2px solid black ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

.myBio {
    text-transform: uppercase;
    text-indent: 25px;
    border: 2px solid black ;

}

.text-left, .text-right {
    font-family: 'Lobster', cursive;
}

