.show-me {
margin-top : 500px;
}

.hero-section {
    position: relative;
    height: 100vh;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://blog.society6.com/app/uploads/2018/05/nicebleed-theglitchog-society6-keeper.gif');
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    position: relative;
    display: flex;
    height: 100vh;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 400px;
    left: 50%;
    z-index: 1 !important;
    transform: translate(-50%, -50%);
    color: ghostwhite;

}

.hero-title {
    font-size: 76px;
    font-family: Lobster,sans-serif;
    letter-spacing: 0.4rem;
}

.hero-decoration {
    font-family: 'Inconsolata', monospace;
    font-size: 28px !important;
}

.enter-btn a {
    background-color: #408CAA !important;
    height: 25% !important;
    width: 50% !important;
    color: white !important;
}

.landing-span {
    color: black !important;
}


.enter-btn:hover {
    border: none !important;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 5) !important;
    background: #408CAA !important;

    color: ghostwhite !important;
    transform: scale(1.5);
    transition: 0.4s;
}



button[class^='enter-btn']::after {
        content: "";
         background: #408CAA !important;
        position: absolute;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: inline-block;
}




