.icon {
    font-size: 200px;
    color: cornflowerblue;
}

.social-platform {
    height: 25rem;
    width: 50rem;
    position: relative;
    background-color:  #badaf4;
    opacity: 0.7 !important;
    z-index: 1;
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 6rem;



}

.social-style {
    font-size: 10rem;
    color: black;
    background-color: #828287;
    border-radius: 2rem;
    margin-top: 4rem;
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    opacity: 0.8;
    transition: 0.4s;

}

.social-style:hover {
    color: black;
    background-color: #408CAA;
    opacity: 1;
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    transform: scale(1.5);
}



.social-text {
    font-family: 'Inconsolata', monospace;
    margin-right: 1rem;
    font-size: 40px !important;
    text-align: center !important;
    color: #1d0e0e;

}

.text-mail {
    font-size: 1rem !important;
}

.social {
    margin-left: 2rem;
}

.social-header {
    font-family: 'Inconsolata', monospace;
    color: #828287;
    font-size: 7rem;
    text-align: center;
    margin-top: 24px;
}

.contact-fade{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
