.card-image-top {
    height: 15rem;
    width: 25rem;
    border-radius: 35px;
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.70)!important;

}

.card-deck {
    width: 33%;
   column-count: 3;
    height: 100%;

}

.item-card{
    transition:0.5s;
    cursor:pointer;
    height: 33em;
    width: 33em;

}

div.card.item-card.bg-light {
width: 25rem;
    height: 35rem;
    margin-bottom: 50px;
    background-color: #90b2e3 !important;
    border-radius: 25px;
    box-shadow: 10px 5px 5px 1px rgba(0,0,0,0.95)!important;
    opacity: 0.9;
    overflow: scroll;
    box-sizing: content-box;
    position: relative;
}

div.card.item-card.bg-light::-webkit-scrollbar {
    display: none;
}

.item-card-title{
    font-size: 14px !important;
    color: black !important;
    transition:1s;
    cursor:pointer;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.card-title i:hover{
    transform: scale(1.25) rotate(100deg);
    color:#18d4ca;

}

.card-text{
    height:80px;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}
.card::before {
    transform-origin: left top;
}
.card::after {
    transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

.card:hover{
    transform: scale(1.25);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.cText {
    font-family: 'Inconsolata', monospace;
    margin-top: 15px;

}

.card-title {
    font-family: 'Lobster', cursive;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: #000000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.buttons {
    background-color: darkmagenta !important;
    margin-right: 10px !important;
}




